*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: skyblue;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
textarea{
    margin-top: 150px;
    font-size: 24px;
}
